table {
  border: solid 5px;
}

td, th {
  padding: 10px;
  border: solid 2px;
  border-collapse: collapse;
}

th {
  font-size: 20px;
}

.TOP {
  text-align: center;
}

.top_title {
  font-size: 35px;
}

.top_link {
  font-size: 20px;
}